<?xml version="1.0" encoding="UTF-8" ?> 
    <!DOCTYPE mapper 
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cft.commons.showcase.dao.mybatis.RoleDAO">

    <select id="getRoleByRoleId" parameterType="Integer" resultType="Role">
   	    SELECT * FROM APP_ROLE WHERE ROLEID = #{roleId}
    </select>

	<select id="getLastPK"  resultType="String">
		<![CDATA[
		SELECT MAX(ROLEID) from APP_ROLE
		]]>
	</select>
	
	<select id="getRoleList"  resultType="Role">
		<![CDATA[
		select * FROM APP_ROLE
		]]>
		 <where>
			<if test="roleId != null and roleId != '' ">
				<![CDATA[ AND ROLEID like CONCAT('%',#{roleId},'%')  ]]>
			</if>
			<if test="name != null and name != '' ">
				<![CDATA[ AND NAME like CONCAT('%',#{name},'%')  ]]>
			</if>
			<if test="permissions != null and permissions != '' ">
				<![CDATA[ AND PERMISSIONS like CONCAT('%',#{permissions},'%')  ]]>
			</if>
			<if test="status != null and status != '' ">
				<![CDATA[ AND STATUS = #{status}  ]]>
			</if>
			<if test="remark != null and remark != '' ">
					<![CDATA[ AND remark like CONCAT('%',#{remark},'%') ]]>
			</if>
			</where>
			
			<choose>  
        		<when test="sidx != null and sidx != '' ">  
            		<![CDATA[ORDER BY ${sidx} ${sord}]]>  
       			 </when>  
				 <otherwise>  
           			 <![CDATA[ORDER BY roleId]]> 
       			 </otherwise>  
   			 </choose>  
	</select>
	

	<insert id="insertRole" useGeneratedKeys="true" keyProperty="roleId">
 	<![CDATA[
 	INSERT INTO APP_ROLE
		  (
			name,
			permissions,
			status,
			remark
		  )
		  VALUES
		  (
			#{name},
			#{permissions},
			#{status},
			#{remark}
		  )
	]]>
	</insert>
	
	<update id="updateRole">
	<![CDATA[
	update APP_ROLE set 
		name = #{name},
		permissions = #{permissions},
		status=	#{status},
		remark=	#{remark}
	where ROLEID = #{roleId}
	]]>
	</update>
	
	<update id="disableRole">
	<![CDATA[
	update APP_ROLE set status = 'inactive'	where roleId = #{roleId}
	]]>
	</update>

</mapper> 